<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h2>List all Jobs</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Name:</th>
						<th>E-Mail:</th>
						<th>Salary:</th>
						<th>Place:</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each Jobs}}
						<tr>
							<td>{{name}}</td>
							<td>{{email}}</td>
							<td>{{salary}}</td>
							<td>{{place}}</td>
							<td><a href="/app/jobs/{{_id}}">View Job</a></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
			<a href="/app/jobs/new" class="btn btn-default">Create Job</a>
		</div>
	</div>
</div>
