<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1>User View:</h1>
			<form class='form-signin' action='/app/users/{{ user._id }}' method='POST'>
				<input type="text" name='name' value="{{user.username}}" class='form-control' placeholder='Username' required, autofocus>
				<input type="password" name='password' value="{{user.password}}" class='form-control' placeholder='Password' required>
				<input type="text" name='email' value="{{user.email}}" class='form-control' placeholder='E-Mail' required>
				<input type="text" name='firstName' value="{{user.firstName}}" class='form-control' placeholder='First Name' required>
        <input type="text" name='lastName' value="{{user.lastName}}" class='form-control' placeholder='Last Name' required>
				{{#if edit}}
					<button class='btn btn-lg btn-primary btn-block' type='submit'>Edit User</button>
				</form>
				<a href="/app/jobs/{{ user._id }}/delete"><button class='btn btn-lg btn-primary col-sm-4 col-sm-offset-4'>Delete User</button></a>
				{{/if}}
				<br/><br/><br/><a href="/app/users/" class="btn btn-default">Back to User List</a>
			{{#if message}}
				{{message}}
			{{/if}}
		</div>
	</div>
</div>
